<div class="landing-page">
    <header>
      <h1>Welcome to Agri AI</h1>
      <p>Agri AI is a tool used to detect abandoned paddy lands</p>
      <button (click)="scrollToSection()">Learn More</button>
    </header>
    <section class="image_section">
        <img src="/assets/paddy_arial.jpeg" alt="">
        <img src="/assets/paddy_arial_2.jpeg" alt="">
    </section>

    
    <section #info>
      <h2>Our Tool</h2>
      <p>Agri AI tool can be used to detect abandoned paddy lands in a selected area. A user can select an area of interest and the tool provides a graphical representation of the active paddy lands and abandoned paddy lands.</p>
    </section>
  </div>
  
