.image_container {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(210, 210, 210);
}

h1 {
  text-align: center;
}

p{
  margin-left: 5px;
  text-align: center;
}



button {
  margin: auto;
  display: table-cell;
  margin-top: 10px;
  width: 10%;
  background-color: rgb(86, 182, 86);
  opacity: 0.75;
  transition: 0.3s;
}

#changeButton {
  background-color: rgb(200, 200, 200);
}

button:hover {
  opacity: 1;
  color: white;
}

.legend_container{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px;
}


#white_legend {
  background-color: white;
  width: 25px;
  height: 25px;
  border: 1.5px solid black;
  
}

#black_legend {
  background-color: black;
  width: 25px;
  height: 25px;
  border: 1.5px solid black;
  margin-left: 20px;
}



.container {
  width: 100%;
  margin: 25px;
}

.left-panel, .right-panel {
  display: inline-block;
  width: 48%; /* or adjust as needed */
  box-sizing: border-box;
}

/* .left-panel {
  background-color: rgb(146, 218, 229);
}

.right-panel {
  background-color: rgb(233, 100, 100);
} */