<mat-toolbar>
    <mat-toolbar-row>
      <span id="title" routerLink="/home">Agri AI</span>
      <img id="logo" src="/assets/agriculture.png" routerLink="/home">
      <span class="spacer"></span>
      <button mat-flat-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
      <button mat-flat-button routerLink="/detect" routerLinkActive="active" ariaCurrentWhenActive="page">Detect</button>
      <button mat-flat-button routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">Data</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  
